.ControlPanel {
  flex: 1 auto;
  padding: 25px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.ControlPanel-config .rc-slider-track {
  background-color: #888;
}

.ControlPanel-config .rc-slider-handle {
  border-color: #888;
}

.ControlPanel-config label {
  display: block;
  margin: 25px 0 5px;
  font-size: 14px;
  color: #555;
}

.ControlPanel-download {
  margin-top: 45px;
}

.ControlPanel button {
  width: 100%;
  height: 40px;

  font-size: 16px;
  font-family: inherit;
  font-weight: inherit;

  background: #ddd;
  border: none;
  border-radius: 4px;
  color: #666;

  cursor: pointer;
}

.ControlPanel button:hover {
  background: #eee;
}

.ControlPanel-clear {
  flex: auto;
  margin-top: 8px;
}

.ControlPanel .Credits {
  font-size: 12px;
  color: #888;
}
