.Sidebar {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.Sidebar-dropzone {
  flex: 1 auto;
  padding: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-size: 20px;
  cursor: pointer;
}

.Sidebar-dropzone-active {
  background: #ddd;
  color: #222;
}

.Sidebar-loading {
  flex: 1 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-size: 20px;

  background-size: 30px 30px;
  background-image: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.1) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.1) 75%,
    transparent 75%,
    transparent
  );
}
