.Welcome {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: black;
}

.Welcome-inner {
  color: #ddd;
  font-size: 20px;
  margin: 0 200px;
}

.Welcome-inner h1 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 80px;
  letter-spacing: 0.05em;
  color: white;
}

.Welcome-inner b {
  font-weight: normal;
  color: white;
}

.Welcome-inner p {
  margin-bottom: 40px;
}

.Welcome-inner li {
  margin: 20px 0;
}
