.Welcome {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: black;
  font-size: 20px;
}

.Welcome-inner {
  margin: 0 200px;
}

.Welcome-inner h1 {
  font-size: 80px;
}

.Welcome-inner b {
  font-weight: normal;
  color: white;
}

.Welcome-inner p {
  margin-bottom: 40px;
}

.Welcome-inner ol {
  margin-bottom: 40px;
}

.Welcome-inner li {
  margin: 20px 0;
}

.Welcome .Credits {
  font-size: 16px;
  text-align: right;
}
